extends ./layout/layout.jade

block title
  title Gallery of 1

block content
  h1 Gallery
  p #{description}
  img(src= '#{link}')
  p by #{author}
  form(method="GET", action="/gallery/#{id}/edit")
    input(type="submit" value="edit photo #{id}")
  form(method="POST", action="/gallery/#{id}?_method=DELETE")
    input(type="submit" value="delete photo #{id}")