extends layout.jade

block title
  title Gallery of 1

block content
  div
    h1 Gallery
  div(class="container")
    p #{author}
    img(src= '#{link}')
    p #{description}
  div
    form(method="GET", action="/gallery/#{id}/edit")
      input(type="submit" value="edit photo #{id}")
    form(method="POST", action="/gallery/#{id}?_method=DELETE")
      input(type="submit" value="delete photo #{id}")